.filter-anchor-scope {
    anchor-scope: --filter-anchor;
}

.filter-anchor {
    anchor-name: --filter-anchor;
}

.filter-popover {
    position-anchor: --filter-anchor;
    position: absolute;
    position-area: bottom span-right;
    position-try-fallbacks: bottom span-left, top span-right, top span-left;
}